$PRIMARY_300: #ffcc21;
$PRIMARY_400: #ff963c;
$PRIMARY_500: #ea6c00;
$SECONDARY_300: #8fe9d0;
$WHITE: #ffffff;
$DARK_500: #414141;
$DARK_600: #2e2e2e;
$GRAY_400: #777777;
$GRAY_707: #707070;
$GRAY_707_25: #70707025;
$WHITE__15: #ffffff15;
